<div class="signup">
<div class="container" style="padding-top: 240px;">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-center">
          <div class="rounded">
            <div class="form-header text-center">
                <h1 class="signup_title">新規登録</h1>
            </div>
              <div class="form-body">
                <div class="anime">
                <div class="card"  style= "width: 100%;">

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <table class="table table-hover table-striped">
                  <!-- <colgroup span="1" width="40%"></colgroup>
                  <colgroup span="1" width="60%"></colgroup> -->

                    <thead></thead>

                    <tbody>

                      <tr align="center">
                        <div class="field">
                          <td><%= f.label :ペンネーム %></td>
                          <td><%= f.email_field :name, autofocus: true, autocomplete: "name" %></td>
                        </div>
                      </tr>

                      <tr align="center">
                        <div class="field">
                          <td><%= f.label :アドレス %></td>
                          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                        </div>
                      </tr>

                      <tr align="center">
                        <div class="field">
                          <td><%= f.label :パスワード %></td>
                          <% if @minimum_password_length %>
                          <% end %><br />
                          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
                        </div>
                      </tr>

                      <tr align="center">
                        <div class="field">
                          <td><%= f.label :パスワード確認 %><br /></td>
                          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
                        </div>
                      </tr>

                    </tbody>
                  </table>

                  <div class="actions">
                    <%= f.submit "登録", class: "anime_test btn btn-success btn-block" %>
                  </div>
                <% end %>

                </div>
              </div>

              <!--<%#= render "devise/shared/links" %>-->

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
