<div class="main-users-show">
	<div class="container main-container">
		<h2>ユーザー詳細</h2>
		<div class="row">
		<!-- ジェケット画像表示させる所 -->
		<div class="col-md-4" style="margin-bottom: 20px;">
			<div class="card">
				<div class="card-body text-center">
					<%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size: "300x300" %>
				</div>
				<ul class="list-group list-group-flash">
					<li class="list-group-item", align="center"><%= @user.name %></li>
					<% if @user == current_user %>
					<li class="list-group-item", align="center">
					<div class="btn btn-light">
						<%= link_to "編集", edit_user_path(@user) %>
					</div></li>
				<% end %>
				</ul>
			</div>
		</div>
				<div class="show_render">

			</div>	
			<div class="col-md-2"></div>
					<div class="col-md-4 d-flex justify-content-end">


					<table>
						<thead><h2 class="w-100">投稿一覧</h2></thead>
						<% @posts.each do |post| %>

						<tbody>
							<tr>
								<td><%= link_to post.title, post_path(post.id), class: "user-posts" %></td>
							</tr>
						</tbody>

						<% end %>
					</table>
				</div>
				</div>

				<div class="row">
					<div class="col-4"></div>
					<div class="bookmark-list col-6 d-flex justify-content-end">
						<table>
						<thead><h2 class="w-100">ブックマーク一覧</h2></thead>
						<% @bookmark.each do |bookmark| %>
						<tr>
							<td><%= link_to bookmark.post.title, posts_path(bookmark.id), class: "bookmark-item" %></td>
						</tr>
						<% end %>
					</div>
					</div
</div>