<div class="main-genre">
	<div class="container main-container">
		<ul align="center">
			<li><%= link_to "アウトドア", motion_path, class: "genre-index" %></li></br>
			<li><%= link_to "日常系", life_path, class: "genre-index"  %></li></br>
			<li><%= link_to "芸術・文化", art_path, class: "genre-index"  %></li></br>
			<li><%= link_to "モノづくり系", craft_path, class: "genre-index"  %></li></br>
			<li><%= link_to "学ぶ系", study_path, class: "genre-index"  %></li></br>
			<li><%= link_to "その他", other_path, class: "genre-index"  %></li></br>
		</ul>
	</div>
</div>