<div class="clearfix">
	<div class="main-post">
		<div class="container main-container">
			<!-- <span class="navbar-text">
	          <div class="collapse navbar-collapse" id="navbarForm">
	            <form class="form-inline my-2 my-lg-0 ml-auto">
	              <%#= form_for @find, url: search_path do |search| %>
	                <%#= search.text_field :keyword, placeholder="キーワード（＃タグ）", class: "form-control mr-sm-2" %>
	                <%#= search.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
	              <%# end %>
	              <input class="form-control mr-sm-2" type="text" placeholder="キーワード（＃タグ）" aria-label="キーワード（＃タグ）">
	              <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button> -->
	            <!--</form>
	          </div>
        	</span> -->
        	<div class="row">
        		<div class="new-index">
        			<%= link_to "新着投稿順", posts_path, class: "btn btn-warning" %>
        		</div>
        		<div class="random-index">
        			<%= link_to "ランダム表示", random_path, class: "btn btn-danger" %>
        		</div>
        	</div>
			<div class="row">

				<!-- 投稿一覧回すeach文 -->
				<% @posts.each do |post| %>
				<div class="col-12 col-sm-3">
				<div class="card mb-4">
					<div class="card-title text-center">
						<strong><%= post.title %></strong>
					</div>
					<%= attachment_image_tag post, :post_image, class: "card-img-top", format: "jpeg", fallback: "no_image.jpg", size: "200x200" %>
					<div class="card-body">
						
						<p class="card-subtitle">
							ジャンル：
							<% if post.genre == 0 %>
								アウトドア
							<% elsif post.genre == 1 %>
								日常系
							<% elsif post.genre == 2 %>
								芸術・文化
							<% elsif post.genre == 3 %>
								モノづくり系
							<% elsif post.genre == 4 %>
								学ぶ系
							<% elsif post.genre == 5 %>
								その他
							<% else %>

							<% end %>
						</p></br>
							<p class="card-text"><%= post.appeal %></p>
					</div>
					<ul class="list-group list-group-flash">
						<li class="list-group-item">おすすめ度：<%= post.recommend %>% !</li>
					</ul>
					<div class="card-body">
						<div class="btn btn-success post-btn">
							<a href="<%= "/posts/#{post.id}" %>" target="_blank" style="color: white;">詳細へ</a>
						</div>
					</div>
				</div>
			</div>

				

				<% end %>
			</div>
			
		</div>
	</div>
</div>