<div Class="main-post-new">
	<div class="container main-container">
		<div class="row">
			<div class="new-post">
				<h2 class="new-post-title">新規投稿</h2>

				<%= form_for(@post) do |f| %>

				<!-- 趣味の名前 -->
				<%= f.text_field :title %>

				<!-- イメージ写真 -->
				<%= f.attachment_field :post_image, autofocus: true, fallback: "no_image.jpg", size: "200x200" %>

				<!-- この趣味を始めるおすすめ度 -->
				<%= f.number_field :recommend,  min: 1, max: 100 %>

				<!-- この趣味の一言PR -->
				<%= f.text_area :appeal %>

				<!-- この趣味を始めるのにかかる初期費用 -->
				<%= f.text_field :cost %>円

				<!-- この趣味の魅力 -->
				<%= f.text_area :charm %>

				<%= f.submit "投稿" %>
				<% end %>
			</div>
		</div>
	</div>
</div>