<div Class="py-4 main-post-show">
	<section id="show">
		<div class="container main-container">
			<h3 class="mb-3">～詳細～</h3>
			<p><%= @post.appeal %></p>

			<div class="row">

				<!-- 左 -->
				<div class="col-md-6">
					<section id="image">
						<h4 class="mb-6"></h4>
						<!-- イメージ写真 -->
						<%= attachment_image_tag @post, :post_image, format: "jepeg", fallback: "no_image.jpg", class: "img-fluid" %>
						<!-- /イメージ写真 -->
						<p><span class="rounded"><%= link_to "ブックマーク！", post_favorites_path(@post.id), method: :post, class: "btn btn-success" %></span></p>
					</section>
				</div>
				<!-- /左 -->

				<!-- 右 -->
				<div class="col-md-6">
					<section id="info">
						<h4 class="mb-3"></h4>
						<!-- 趣味の詳細 -->
						<table class="table table-hover table-striped">
							<tbody>
								<tr>
									<th style="width: 40%;">趣味名</th>
									<td style="width: 60%;"><%= @post.title %></td>
								</tr>
								<tr>
									<th style="width: 40%;">おすすめ度</th>
									<td style="width: 60%;"><%= @post.recommend %>%</td>
								</tr>
								<tr>
									<th style="width: 40%;">初期費用</th>
									<td style="width: 60%;">約<%= @post.cost %>円</td>
								</tr>
								<tr>
									<th style="width: 40%;">キーワード</br>（ハッシュタグ）</th>
									<td style="width: 60%;"><%= @post.keyword %></td>
								</tr>
								<tr>
									<th style="width: 40%;">魅力</th>
									<td style="width: 60%;"><%= @post.charm %></td>
								</tr>
							</tbody>
						</table>
						<!-- /趣味の詳細 -->
					</section>
				</div>
				<!-- /右 -->

			</div>
		</div>
	</section>
</div>
