<div class="clearfix">
	<div class="main-study">
		<div class="container main-container">

			<div class="row">

				<!-- 投稿一覧回すeach文 -->
				<% @posts.each do |post| %>
				<div class="col-12 col-sm-3">
				<div class="card mb-4">
					<div class="card-title text-center">
						<strong><%= post.title %></strong>
					</div>
					<%= attachment_image_tag post, :post_image, class: "card-img-top", format: "jpeg", fallback: "no_image.jpg", size: "200x200" %>
					<div class="card-body">
						</br>
							<p class="card-text"><%= post.appeal %></p>
					</div>
					<ul class="list-group list-group-flash">
						<li class="list-group-item">おすすめ度：<%= post.recommend %>% !</li>
					</ul>
					<div class="card-body">
						<div class="btn btn-success post-btn">
							<a href="<%= "/posts/#{post.id}" %>" target="_blank" style="color: white;">詳細へ</a>
						</div>
					</div>
				</div>
			</div>

				

				<% end %>
			</div>
			
		</div>
	</div>
</div>